@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Luckiest+Guy&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
}

:root {
    --cor1: #4B64F2;
    --cor2: #F24B4B;
    --cor3: #3DF28D;
    --cor4: #F2E41B;
    --cor5: #FFDAB9;
    --cor6: #993FBF;
}

body{
   font-family: 'Luckiest Guy', cursive;
   background-color: var(--cor5);
   overflow: hidden;

}

header {
    background-color: var(--cor6);
    padding: 5px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    
}



.leaveContainer{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.exit{
    height: 50px;
    width: 50px;
    background-color: var(--cor2);
    color: white;
    font-size: 2em;
    border-radius: 20px;
    border: 3px solid black;
    transition: 1s;

}

.exit:hover {
    font-size: 2.5em;
    cursor: pointer;
    
}

.scoreContainer{
    display: flex;
    gap: 15px;
}

.score{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: 3px solid black;
    font-size: 1.5em;
    background-color: var(--cor1);
    color: white;
    text-align: center;

}

.gameContainer{
    height: 70vh;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    flex-wrap: nowrap;
}

.counterContainer{
    order: 2;
    text-align: center;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.showRes{
    width: 100%;
    max-height: 12vw;
    font-size: 7vw;
    color: var(--cor2);
    text-align: center;
}


.leftHandBox{
    order: 1;
}

.rightHandBox{
    order: 3;
}

.handBox{
    width: 42vw;
    display: flex;
    justify-content: end;
}

.handDiv{
    width: 42vw;
}

.handImg{
    width: 42vw;
    height: 100%;
}


.animation .leftHandImg{
    transform-origin: left;
    animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
    50%{
        transform: rotate(10deg);
    }
}

.animation .rightHandImg{
    transform-origin: right;
    animation: playerShake 0.7s ease infinite;
}

@keyframes playerShake {
    50%{
        transform: rotate(-10deg);
    }
}


.selectContainer{
    height: 12.1vw;
    min-height: 12vw;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.select{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.btn {
    width: 11vw;
    height: 11vw;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.btnImg {
    width: 95%;
    height: 95%;
    opacity: 50%;
    transition: 1s;
    
}

.btnImg:hover{
    width: 110%;
    height: 110%
}

.btnImg.active{
    width: 110%;
    height: 110%;
    opacity: 100%;
    
}

@media(max-width: 500px){

    .gameContainer{
        height: 60vh;
        flex-direction: column;
    }    

    .handImg{
    width: 42vw;
    height: 80%;
    }
    
    .handBox{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 55vw;
    }

    .leftHandImg,
    .rightHandImg{
        transform: rotate(90deg);
        
    }

    

    .animation .leftHandImg{
    transform-origin: center;
    animation: cpuShakes 0.7s ease infinite;
    }

    @keyframes cpuShakes {
        0% {
            transform: rotate(90deg) translateY(0px);
        }
        50% {
            transform: rotate(110deg) translateY(15px);
        }
        100% {
            transform: rotate(90deg) translateY(0px);
        }
    }

    .animation .rightHandImg{
        transform-origin: center ;
        animation: playerShakes 0.7s ease infinite;
    }

    @keyframes playerShakes {
        0% {
            transform: rotate(90deg) translateY(0px);
        }
        50% {
            transform: rotate(110deg) translatey(-15px);
        }
        100% {
            transform: rotate(90deg) translateY(0px);
        }
    }

    .counterContainer{
        width: 100%;
        height: 21vw;
        
    }

    .showRes{
        font-size: 12vw;
        
    }

    .selectContainer{
        margin-top: 30px;
        height: 40vw;
        align-items: center;
    }

    .select{
        height: 100%;
    }

    .btn{
        width: 100%;
        height: auto;
    }

}

@media(orientation: landscape){
    body{
        overflow: auto;
    }
    
}











